
.jumbotron {
background-color: #f4511e;
color: #ffffff;
}
.bg-grey {
background-color: #f6f6f6;
}
.nav-link-custom {
background-color: #f4511e;
color: #ffffff;
}
.nav-link-custom:hover {
background-color: #ff6e40;
color: #ffffff;
}
.dropdown-item i {
 margin-right: 10px;
 width: 20px;
 text-align: center;
}
.dropdown-item span {
 vertical-align: middle;
}
.nav-item.dropdown.show .nav-link {
    background-color: #f4511e;
    color: #ffffff;
}
.dropdown-item.active {
    background-color: #f4511e;
    color: #ffffff;
}
.nav-link.active {
    background-color: #f4501ede;
    color: #ffffff;
}
.dropdown-item.nav-link-custom:hover{
    background-color: #f4511e;
    color: #ffffff;
}

